In [ ]:
%load_ext watermark
%watermark -v -n -m -p numpy,scipy,sklearn,pandas

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
PROJ_ROOT = os.path.abspath(os.path.join(os.pardir))
os.chdir(PROJ_ROOT)
import configparser

In [35]:
import ast

In [33]:
import sys
sys.path.append(os.path.join(PROJ_ROOT, 'src'))
# %aimport data.extract_search_trend
# from data.extract_search_trend import extract_search_trend as extract

In [27]:
from data.utils import read_raw_data, generate_file_path, select_years, select_season, select_terms

In [37]:
def extract_search_trend(config_path, output_filepath):
    """ Runs data processing scripts to turn raw data from (../raw) into
        cleaned data ready to be analyzed (saved in ../interim).
    """
#     logger = logging.getLogger(__name__)
#     logger.info('making final data set from raw data')

    pars = configparser.ConfigParser()
    pars.read(config_path)
    city = pars['global']['city']
    seed_path = pars['extract_search_trend']['term_list_path']
    search_data_path = pars['extract_search_trend']['search_data_path']
    name_pattern = pars['extract_search_trend']['name_pattern']
    train_years = ast.literal_eval(pars['global']['train_year'])
    test_years = ast.literal_eval(pars['global']['test_year'])
    season = pars['global']['season']

    raw_file_path = generate_file_path(search_data_path, name_pattern, city)
    trend_data = read_raw_data(raw_file_path)
    years = train_years + test_years
    return years, trend_data
    trend_data = select_years(trend_data, years)
    trend_data = select_season(trend_data, season)
    # Get seed_word_list
    seed_word_list = [k.lower() for k in pd.read_csv(seed_path, header=None)[0].values]
    trend_data = select_terms(trend_data, seed_word_list)
    trend_data.to_csv(output_filepath)

In [38]:
config_path = 'config/parameters.ini'
output_filepath = 'data/interim/search.csv'

In [39]:
years, trend_data = extract_search_trend(config_path, output_filepath)

In [40]:
years

[2007, 2008, 2009, 2010, 2011]

In [41]:
trend_data

,Unnamed: 0,advair,air pollutant,air pollution,albuterol,allergies,allergy,apnea,arrhythmia,ash,...,tinnitus,traffic,vapors,ventolin,vomiting,wheeze,wheezes,wheezing,wheezy,wildfires
0,2007-01-01,0.00,0.0,0.0000,0.000000,58.000000,55.000000,0.000000,0.000000,20.000000,...,0.000000,6.000000,0.000000,0.00000,57.000000,0.000000,NaN,0.000000,0.000000,0.000000
1,2007-01-02,37.00,0.0,0.0000,0.000000,52.000000,16.000000,36.000000,0.000000,9.000000,...,0.000000,14.000000,0.000000,0.00000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000
2,2007-01-03,0.00,0.0,0.0000,0.000000,0.000000,0.000000,35.000000,0.000000,9.000000,...,0.000000,20.000000,0.000000,0.00000,32.000000,0.000000,NaN,0.000000,0.000000,0.000000
3,2007-01-04,0.00,0.0,0.0000,33.000000,50.000000,47.000000,35.000000,0.000000,6.000000,...,0.000000,26.000000,0.000000,0.00000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000
4,2007-01-05,0.00,0.0,0.0000,0.000000,0.000000,63.000000,0.000000,0.000000,12.000000,...,33.000000,38.000000,0.000000,0.00000,0.000000,0.000000,NaN,62.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4409,2019-01-27,0.00,0.0,25.2000,31.589365,221.176471,59.640662,19.284202,0.000000,509.134078,...,89.944050,37.756789,0.000000,0.00000,43.891269,0.000000,0.0,22.378208,0.000000,0.000000
4410,2019-01-28,0.00,0.0,40.1625,24.938972,69.117647,78.100867,54.449511,22.572657,499.877095,...,109.431927,122.709563,54.899637,25.01279,34.913509,35.783784,0.0,0.000000,0.000000,0.679534
4411,2019-01-29,0.00,0.0,28.3500,11.638187,129.941176,76.680851,88.480456,21.632130,620.217877,...,58.463632,90.616293,25.769217,0.00000,20.948105,0.000000,0.0,35.805134,0.000000,0.000000
4412,2019-01-30,0.00,85.0,48.0375,29.926767,91.235294,69.580772,104.361564,43.264260,518.391061,...,116.927265,98.167651,26.889618,47.43805,37.906096,34.079794,0.0,17.902567,0.000000,0.271814
4413,2019-01-31,30.42,0.0,29.1375,30.758066,80.176471,71.000788,22.687296,0.000000,694.273743,...,59.962700,117.046045,0.000000,36.22542,42.893740,0.000000,0.0,54.826611,17.775616,0.271814

In [11]:
import pandas as pd

In [13]:
a = pd.DataFrame([1,2,3,4])

In [15]:
a.iloc[[0,2], :]

   0
0  1
2  3

In [18]:
date_rng = pd.date_range('20060101','20060105',freq='D')

In [26]:
int(pd.Series(date_rng.format())[0].split('-')[1])

1

In [20]:
date_rng

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05'],
              dtype='datetime64[ns]', freq='D')